.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-category {
  position: fixed;
  background-color: var(--secondary-color-light);
  z-index: 2;
  width: 100%;
  height: 8rem;
  box-shadow: var(--shadow-9);
}

.logo {
  height: 4.8rem;
  position: relative;
  top: 0.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color-lighter);
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-color-light);
}

.user-btn {
  font-size: 1.8rem;
  color: var(--primary-color-light);
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.user-btn:hover {
  color: var(--secondary-color-dark);
}

.userDropdownBtn:hover {
  color: var(--secondary-color-dark);
}

.userDropdownBtn:hover .user-dropdown {
  display: block;
}

.user-photo {
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-font-dark);
  border-radius: 50%;
  position: relative;
}

.user-photo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.user-name {
  text-transform: capitalize;
}

.user-dropdown {
  background-color: var(--white);
  width: 16rem;
  height: 10.5rem;
  list-style: none;
  padding: 1rem;
  box-shadow: var(--shadow-10);
  border-radius: 0.3rem;
  position: absolute;
  display: none;
  z-index: 4;
}

.user-dropdown-properties {
  height: 5rem;
}

.profile,
.properties,
.signOut {
  text-decoration: none;
  /* color: var(--primary-color-light); */
  cursor: pointer;

  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

.profile:hover,
.properties:hover,
.signOut:hover {
  color: var(--secondary-color-dark);
}

.profile,
.properties {
  border-bottom: 1px solid var(--color-line);
  padding-bottom: 1rem;
  width: 100%;
  display: inline-block;
}

.properties {
  padding-top: 1rem;
}
.signOut {
  padding-top: 1rem;
  display: inline-block;
  border: none;
  /* background: transparent; */
  cursor: pointer;
}

.btn-nav {
  text-transform: uppercase;
  background-image: var(--primary-gradient-color-rb);
  padding: 0rem 1.1rem;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s;
}

.btn-nav:active {
  transform: scale(0.98);
}

.btn-link {
  color: var(--primary-color-lighter);
  font-size: 2.8rem;
  font-weight: 700;
}

.btn-nav:hover,
.btn-nav:visited {
  background-color: var(--secondary-color-dark);
}

.user-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  background-color: var(--color-lighter);
  padding: 6rem;
  transition: all 0.5s;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 5;
}

.close-user-login {
  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

.user-icon {
  font-size: 10rem;
  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.userName,
.password {
  font-size: 1.8rem;
  color: var(--primary-color-light);
  border: none;
  border-bottom: 3px solid transparent;
  padding: 0.8rem;
  border-radius: 0.3rem;
  box-shadow: var(--shadow-11);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.userName:focus:invalid,
.password:focus:invalid {
  border-bottom: 3px solid var(--yellow-3);
}

.userName:focus,
.password:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-color-light);
}

.userName::placeholder,
.password::placeholder {
  color: var(--primary-color-light);
}

.password-group {
  position: relative;
}

.show-password,
.hide-password {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
  font-size: 1.2rem;
  color: var(--primary-color-light);
  cursor: pointer;
}

.show-password {
  color: var(--red-2);
}

.hide-password:hover {
  color: var(--secondary-color-dark);
}

.show-password:hover {
  color: var(--red-3);
}

.login-btn {
  border-radius: 0.3rem;
  padding: 0.8rem;
  width: 100%;
  border: none;
  outline: none;
  background-image: var(--primary-gradient-color-rb);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow-11);
}

.login-btn:hover {
  background-color: var(--greenColor-3);
}

.incorect-user-pass {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--red-3);
  margin-top: -1.2rem;
}

.keep-login-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: var(--primary-color-light);
}

.keep-login {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--primary-color-lighter);
  border-radius: 0.3rem;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid var(--secondary-color-dark);
}

.keep-login::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f00c";
  font-size: 1.2rem;
  color: var(--white);
  display: none;
}

.keep-login:checked {
  background-color: var(--secondary-color-dark);
}

.keep-login:checked::after {
  display: block;
}

.sign-up {
  color: var(--primary-color-light);
  font-size: 1.2rem;
  text-underline-position: under;
}

.sign-up:hover {
  color: var(--secondary-color-dark);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.icon-mobile-nav {
  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.nav-close {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-image: var(--secondary-gradient-color-b);
  box-shadow: var(--shadow-2);
  z-index: 4;
}

.sticky .header .main-nav-link:not(.nav-cta) {
  background-image: var(--primary-gradient-color-rb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

.sticky .header .main-nav-link:not(.nav-cta):hover,
.sticky .header .main-nav-link:not(.nav-cta):active {
  color: var(--white);
  border-bottom: 3px solid var(--white);
  position: relative;
  top: 15px;
  height: 49px;
}

.sticky .header .btn-nav:hover {
  background-color: var(--secondary-color-dark);
}

.sticky {
  margin-top: 8rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
